[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-wtf = "*"
psycopg2-binary = "*"
werkzeug = "*"
supabase = "*"
python-dotenv = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.13"
